<h2>Patient Index</h2>

  <ul>
  <% @patients.each do |patient| %>
    
<!--    <li><%= link_to patient.name, patient_path(patient) %> has <%= pluralize(patient.appointments.count, 'appointment') %>.</li>  -->
    <li>Name: <%= link_to patient.name, patient_path(patient) %> Number of Appointments: <%= patient.appointments.count %>.</li> 
  <% end %>
  </ul>

