<h2>Appointment on <%= @appointment.appointment_datetime.strftime("%B %e, %Y at %l:%M %P") %></h2>
<p>
  Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %> will see <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %>
</p>

